/* .nav {
} */
.nav__btn {
  margin-right: 22px;
}
.nav__btn:last-child {
  margin-right: 0;
}

@media (max-width: 1920px) {
  .nav__btn {
    margin-right: 18px;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 135px);
    top: 135px;
    left: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #365ABA;
  }
}

@media (max-width: 768px) {
  .nav {
    height: calc(100vh - 64px);
    top: 64px;
  }
}